<%# add navigation links to this file %>
<% if user_signed_in? %>

	<a><%= link_to 'Edit Account', edit_user_registration_path, {:class => "dropdown-item"} %></a>
	<div class="dropdown-divider"></div>
	<a><%= link_to 'Sign out', destroy_user_session_path, {:method=>"delete", :class => "dropdown-item"}%></a>
<%else%>
	<a><%= link_to 'Sign in', new_user_session_path, {:class => "dropdown-item"} %></a>
<% end %>
