<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ICF" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "ICF" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo.ico' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <%= yield %>
     <%if !user_signed_in? %>
      <main role="main">
       <%= render 'layouts/messages' %>
    </main>
    <% end %>
  </body>
</html>
