    </nav>
  
    <div id="wrapper">

      <!-- Sidebar -->
      <div>
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
         <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eng. Software </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item">
                    <div type="checkbox" id="software_python" name="Filtro" value="software_python" onClick="soma()" class="form-control-custom">
                      <input type="checkbox" id="software_python" name="Filtro" value="software_python" onClick="soma()" class="form-control-custom">

                      <label for="software_python">Python <br /> </label>
                    </a>
                    <a class="dropdown-item">
                      <input type="checkbox" id="software_java" name="Filtro" value="software_java" onClick="soma()" class="form-control-custom">
                      <label for="software_java">Java <br /> </label>
                    </a>
              </div>
        </li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Eng. Eletrônica </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">      
                   <a class="dropdown-item">
                      <input type="checkbox" id="eletronica_embarcados" name="Filtro" value="eletronica_embarcados" onClick="soma()" class="form-control-custom">
                      <label for="eletronica_embarcados">Embarcados <br /> </label>
                    </a>

                    <a class="dropdown-item">
                      <input type="checkbox" id="eletronica_circuitos" name="Filtro" value="eletronica_circuitos" onClick="soma()" class="form-control-custom">
                      <label for="eletronica_circuitos">Eletrônica Digital<br /> </label>
                    </a>
              </div>
        </li>

        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Eng. Automotiva</a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                   <a class="dropdown-item">
                      <input type="checkbox" id="automotiva_design" name="Filtro" value="automotiva_design" onClick="soma()" class="form-control-custom">
                      <label for="automotiva_design">Design automotivo<br /> </label>
                    </a>
                    <a class="dropdown-item">
                      <input type="checkbox" id="automotiva_suspensao" name="Filtro" value="automotiva_suspensao" onClick="soma()" class="form-control-custom">
                      <label for="automotiva_suspensao">Suspensão <br /> </label>
                    </a>
              </div>
        </li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Eng. Aeroespacial </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                   <a class="dropdown-item">
                      <input type="checkbox" id="aeroespacial_aerodinamica" name="Filtro" value="aeroespacial_aerodinamica" onClick="soma()" class="form-control-custom">
                      <label for="aeroespacial_aerodinamica">Controle<br /> </label>
                    </a>

                    <a class="dropdown-item">
                      <input type="checkbox" id="aeroespacial_propulsao" name="Filtro" value="aeroespacial_propulsao" onClick="soma()" class="form-control-custom">
                      <label for="aeroespacial_propulsao">Propulsão <br /> </label>
                    </a>
              </div>
        </li>
       <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Eng. de Energia </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                   <a class="dropdown-item">
                      <input type="checkbox" id="energia_gestao" name="Filtro" value="energia_gestao" onClick="soma()" class="form-control-custom">
                      <label for="">Fontes Renováveis<br /> </label>
                    </a>
                    <a class="dropdown-item">
                      <input type="checkbox" id="energia_combustiveis" name="Filtro" value="energia_combustiveis" onClick="soma()" class="form-control-custom">
                      <label for="">Petróleo <br /> </label>
                    </a>
              </div>
        </li>
       <button  id="addDataPoint" alt="person" type="submit" style="border: none;  color: color-yiq(#33b35a);background-color: #33b35a;border-color: #33b35a;padding: 5px 65px;text-align: center;text-decoration: none;display: inline-block;font-size:16px; height: 80px; "><a><i class="icon-interface-windows"></i>Atualizar</button></a>
      </ul>
        </div>
</head>
<body>       
        <% if current_user.teacher %>
          <div id="chartContainer" style="height: 600px; width: 50%;">
          </div>
          <div id="daily-feeds" class="card updates daily-feeds">
                <div id="feeds-header" class="card-header d-flex justify-content-between align-items-center">
                  <h2 class="h5 display"><a data-toggle="collapse" data-parent="#daily-feeds"  aria-expanded="true" aria-controls="feeds-box">Alunos: </a></h2>
                </div>
                <div id="feeds-box" role="tabpanel" class="collapse show">
                  <div class="feed-box">
                    <ul class="feed-elements list-unstyled">
                      <!-- List-->
                     <%if !@tamanho.nil? %>
                     <% i = 0%>
                      <%while i < @tamanho %>
                      <% if !User.all[i].teacher %>
                      <li class="clearfix">
                        <div class="feed d-flex justify-content-between">
                          <div class="feed-body d-flex justify-content-between"><a href="#" class="feed-profile"></a>
                            <div class="content">
                              <strong> <%=User.all[i].first_name%> <%= User.all[i].last_name%> </strong>
                              <small><%=User.all[i].graduation%> </small></br> <small><%=User.all[i].email%></small></br>
                              <strong> Trabalha bem com: </strong>
                              <%if User.all[i].python%>
                                <small>Pyhton </small>
                              <%end%>

                              <%if User.all[i].java%>
                                <small>Java </small>
                              <%end%>

                              <%if User.all[i].embarcados%>
                                <small>Embarcados </small>
                              <%end%>
                              <%if User.all[i].eletronica_digital%>
                                <small> Eletrônica Digital </small>
                              <%end%>
                              <%if User.all[i].design%>
                                <small> Design Automotivo </small>
                              <%end%>
                              <%if User.all[i].suspension%>
                                <small> Suspensão </small>
                              <%end%>
                              <%if User.all[i].controle%>
                                <small> Controle </small>
                              <%end%>
                              <%if User.all[i].propulsao%>
                                <small> Propulsão </small>
                              <%end%>
                              <%if User.all[i].fontes_renovaveis%>
                                <small> Fontes Renováveis</small>
                              <%end%>
                              <%if User.all[i].petroleo%>
                                <small> Petróleo </small>
                              <%end%>
                              
                            </div>
                          </div>
                        </div>
                        <% end %>
                      </li>
                      
                      <%i += 1%>
                      <%end%>

                      <%else%>
                    <li class="clearfix">
                        <div class="feed d-flex justify-content-between">
                          <div class="feed-body d-flex justify-content-between"><a href="#" class="feed-profile"></a>
                            <div class="content"><strong id =""> <%= @tamanho %>  </strong><small> <%=i%> </small>
                            </div>
                          </div>
                        </div>
                      </li>
                   <%end%>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
          <div style="height: 600px; width: 50%;">
        <% else %>
          <div id="chartContainer" style="height: 600px; width: 100%;">
          </div>
        <% end %> 
      </body>
      <!--A partir daqui fizemos a importação do gráfico em JavaScript e conversão de variáveis em ruby para JavaScript -->
        <script>
window.onload = function() {

var num_java = <%= @java%>;
var num_python = <%= @python%>;
var num_propulsao = <%= @propulsao%>;
var num_controle = <%= @controle%>;
var num_embarcados = <%= @embarcados%>;
var num_digital = <%= @eletronica_digital%>;
var num_suspensao = <%= @suspension%>;
var num_design = <%= @design%>;
var num_fontes = <%= @fontes_renovaveis%>;
var num_petroleo = <%= @petroleo%>;

var chart = new CanvasJS.Chart("chartContainer", {
  theme: "light2", // "light1", "light2", "dark1", "dark2"
  exportEnabled: true,
  animationEnabled: true,
  title: {
    text: ""
  },
  data: [{
    type: "pie",
    startAngle: 25,
    toolTipContent: "<b>{label}</b>: {y}",
    showInLegend: "true",
    legendText: "{label}",
    indexLabelFontSize: 16,
    indexLabel: "",
    dataPoints: [
      { y: 0, label: "" },
      { y: 0, label: "" },
      { y: 0, label: "" },
      { y: 0, label: "" },
      { y: 0, label: "" },
      { y: 0, label: "" },
      { y: 0, label: "" },
      { y: 0, label: "" },
      { y: 0, label: "" },
      { y: 0, label: "" }
    ]
  }]
});
chart.render();

$("#addDataPoint").click(function () {
    var checkedValue = "Variavel teste";
    //var checkedTest = document.getElementsById("software_list-1").value();
 
    var pacote = document.getElementsByName('Filtro');
   
   
    
   
    var length = chart.options.data[0].dataPoints.length;

  for (var i = 0; i < pacote.length; i++){
    console.log(pacote[i].value);
      if ( pacote[i].checked ) {
          if(pacote[i].value == "software_python"){
          
          chart.options.data[0].dataPoints[0].y = num_python;
          chart.options.data[0].dataPoints[0].label = "Python";


        }else if (pacote[i].value == "software_java") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[1].y = num_java;
          chart.options.data[0].dataPoints[1].label = "Java";

        }else if (pacote[i].value == "aeroespacial_aerodinamica") {
         chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[2].y = num_controle;
          chart.options.data[0].dataPoints[2].label = "Controle";

        }else if (pacote[i].value == "aeroespacial_propulsao") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[3].y = num_propulsao;
          chart.options.data[0].dataPoints[3].label = "Propulsão";

        }else if (pacote[i].value == "eletronica_embarcados") {
          
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[4].y = num_embarcados;
          chart.options.data[0].dataPoints[4].label = "Embarcados";

        }else if (pacote[i].value == "eletronica_circuitos") {

          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[5].y = num_digital;
          chart.options.data[0].dataPoints[5].label = "Eletrônica Digital";

        }else if (pacote[i].value == "automotiva_design") {

          chart.options.title.text = "Gráfico";

          chart.options.data[0].dataPoints[6].y = num_design;
          chart.options.data[0].dataPoints[6].label = "Design Automotivo";

        }else if (pacote[i].value == "automotiva_suspensao") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[7].y = num_suspensao;
          chart.options.data[0].dataPoints[7].label = "Suspensão";

        }else if (pacote[i].value == "energia_gestao") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[8].y = num_petroleo;
          chart.options.data[0].dataPoints[8].label = "Petróleo";

        }else if (pacote[i].value == "energia_combustiveis") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[9].y = num_fontes;
          chart.options.data[0].dataPoints[9].label = "Fontes";
        }

      }
      else if (!pacote[i].checked){
        if(pacote[i].value == "software_python"){
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[0].y = 0;
          chart.options.data[0].dataPoints[0].label = "";


        }else if (pacote[i].value == "software_java") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[1].y = 0;
          chart.options.data[0].dataPoints[1].label = "";

        }else if (pacote[i].value == "aeroespacial_aerodinamica") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[2].y = 0;
          chart.options.data[0].dataPoints[2].label = "";

        }else if (pacote[i].value == "aeroespacial_propulsao") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[3].y = 0;
          chart.options.data[0].dataPoints[3].label = "";

        }else if (pacote[i].value == "eletronica_embarcados") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[4].y = 0;
          chart.options.data[0].dataPoints[4].label = "";

        }else if (pacote[i].value == "eletronica_circuitos") {
         chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[5].y = 0;
          chart.options.data[0].dataPoints[5].label = "";

        }else if (pacote[i].value == "automotiva_design") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[6].y = 0;
          chart.options.data[0].dataPoints[6].label = "";

        }else if (pacote[i].value == "automotiva_suspensao") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[7].y = 0;
          chart.options.data[0].dataPoints[7].label = "";

        }else if (pacote[i].value == "energia_gestao") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[8].y = 0;
          chart.options.data[0].dataPoints[8].label = "";

        }else if (pacote[i].value == "energia_combustiveis") {
          chart.options.title.text = "Gráfico";
          chart.options.data[0].dataPoints[9].y = 0;
          chart.options.data[0].dataPoints[9].label = "";

        }
      }
  }

  chart.render();

  });

}
</script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>