<div class="authform">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>

    <h3> About You:</h3>

<div class="authform">
    <b><%= "Engineering" %></b>
    <div>
      <%= f.select(:graduation, options_for_select([["Software", "Software"], ["Eletronic", "Eletronic"], ["Energy", "Energy"], ["Aeroespace", "Aeroespace"], ["Automotive", "Automotive"]]), {}, {:class => "form-control"})%>
    </div></br>
</div>
<div class="authform">
    <b><h>Specialties</h></b>
    <a class="nav-link form-control" href="#" id="softwareDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i><b><span>Software</span></b></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="softwareDropDown" for="softwareDropDown">
      <a class="dropdown-item">
        <%= f.check_box :java %>
        <%= "Java"%>
      </a>
     
      <a class="dropdown-item">
        <%= f.check_box :python %>
        <%= "Python"%>
      </a>
      
    </div>
</div>
<div class="authform">
    <a class="nav-link form-control" href="#" id="eletronicDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i><b><span>Eletronic</span></b></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="eletronicDropDown" for="eletronicDropDown">
       
      
      <a class="dropdown-item">
        <%= f.check_box :embarcados %>
        <%= "Boarded" %>
      </a>
      <a class="dropdown-item">
        <%= f.check_box :eletronica_digital %>
        <%= "Digital Eletronics" %>
      </a>
    </div border-width: 2px>
</div>

<div class="authform">
  <a class="nav-link form-control" href="#" id="aeroespaceDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i><b><span>Aeroespace</span></b></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="aeroespaceDropDown">
   
    <a class="dropdown-item">
      <%= f.check_box :propulsao %>
      <%= "Propulsion" %>
    </a>
    <a class="dropdown-item">
      <%= f.check_box :controle %>
      <%= "Control" %>
    </a>
  </div>
</div>
<div class="authform">
  <a class="nav-link form-control" href="#" id="energyDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i><b><span>Energy</span></b></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="energyDropDown">
    <a class="dropdown-item">
      <%= f.check_box :fontes_renovaveis %>
      <%= "Renawble Sources" %>
    </a>
    <a class="dropdown-item">
      <%= f.check_box :petroleo %>
      <%= "Petroleum" %>
    </a>
  </div> 
</div>
<div class="authform">
  <a class="nav-link form-control" href="#" id="automotiveDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i><b><span>Automotive</span></b></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="automotiveDropDown">
    <a class="dropdown-item">
      <%= f.check_box :design %>
      <%= "Automotive Design" %>
    </a>
    <a class="dropdown-item">
      <%= f.check_box :suspension %>
        <%= "Suspension" %>
    </a>
  </div></br>     
</div>
    <h3>Registration:</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    <div class="form-group">
    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>
</div>
<div class="authform">
<h3>Cancel Account</h3>
<p>Unhappy? We'll be sad to see you go.</p>
<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %></br>
</div>
